<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Daily planner app</title>
</head>
<body>

<h1> The Daily Planner </h1>
<p> About: This app records, push notification, and historical on daily plan </p>

<h2> Enter daily plan below:</h2>
<form  method="POST">
    {{ form.hidden_tag() }}
    <p> {{ form.username.label }} {{form.username() }} </p>
    <p> {{ form.date.label }} {{form.date() }} </p>
    <p> {{ form.title.label }} {{form.title() }} </p>
    <p> {{ form.daily_plan.label }} {{form.daily_plan() }} </p>
    <p> {{ form.submit() }} </p>

</form>





</body>
</html>